.bills-container {
  width: 500px;
  box-shadow: 2px 5px 20px gray;
  height: 100vh;
  margin: auto;
  overflow: scroll;
}

.panel {
  background: url("./assets/background.svg") center center no-repeat;
  background-size: cover;
  height: 100vh;

}